body{background-color:#FFF;
}
table{background-color:#CCC;
}
h1{background-color:#CFCFCF;
margin-right:100px;
margin-left:100px;
}
p{background-color:#CFCFCF;
margin-right:280px;
margin-left:280px;
}
a{font-size:24px;
}