p{
	color:black;
}
.t1{
	color:red;
}
.t2{
	color:blue;
}
p{background-color:#ABE4E9;
margin-right:90px;
margin-left:90px;
}
body{background-color:#CCC;
}
p{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif
}
.t1{font-size:18px
}
a{color:#00F
}
a{font-size:24px;
}